<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<add key="ProCoSysOfficial" value="https://statoildeveloper.pkgs.visualstudio.com/_packaging/ProCoSysOfficial/nuget/v3/index.json" />
		<add key="TiePublic" value="https://pkgs.dev.azure.com/Equinor-TI/Packages.Public/_packaging/public-feed/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
</configuration>